table{
    background-color: yellow;
    border-color: black;
    border-style: solid;
}
th{
    border-color: black;
    border-style: solid; 
}

td{
    border-color: black;
    border-style: solid;
}